<%- if current_user -%>
  <div id='app' class='devise'>
  </div>
  <div class='devise'>
    <%= link_to 'EDIT PROFILE', edit_user_registration_path %><br/>
    <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
  </div>
<%- else -%>
  <div class='devise'>
    <h2>SPARRING<br/>MEETUP</h2>
    <hr>
    <h5>SIGN UP</h5>
    <h6>TO MEET</h6>
    <h5>SPARRING PARTNERS</h5>
    <%= link_to 'SIGN UP', new_user_registration_path %><br/>
    <%= link_to 'SIGN IN', new_user_session_path %>
  </div>
<%- end -%>
