<div>
  <h2>PROPOSALS</h2>
  <div class='button_link'><%= link_to 'MAKE A PROPOSAL', new_proposal_path %></div><br/><br/>

  <div id='app'>
  </div>

  <div class='button_link'><%= link_to 'SPARRING MEETUP HOME', root_path %></div>
  <div class='button_link'><%= link_to 'EDIT PROFILE', edit_user_registration_path %></div>
  <div class='button_link'><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></div>
</div>
