* {
  font-family: Helvetica, sans-serif;
}

h2 {
  font-family: 'Teko', sans-serif;
  font-size: 300%;
  font-weight: bolder;
  margin-bottom: 1rem;
}

h5 {
  font-family: 'Teko', sans-serif;
  margin-bottom: 1rem;
}

h6 {
  font-size: small;
  font-family: 'Teko', sans-serif;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  font-size: 65%;
}

a {
  color: blue;
  font-weight: bold;
  border: 1px solid blue;
  padding: 0.13rem 0.35rem;
}

label {
  font-size: 105%;
  font-weight: bold;
  color: blue;
  margin-bottom: -1.7rem;
}

input:hover {
  color: #007ba0;
}

input {
  font-size: 105%;
  font-weight: bold;
  text-align: center;
  color: blue;
  border: 1px solid blue;
}

.red_ring {
  width: 30rem;
  margin: 1rem auto;
  padding: 1rem;
  border: 10px solid red;
  border-radius: 25px;
}

.container {
  text-align: center;
}

.devise {
  text-align: center;
}

.field {
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
  color: blue;
}

.user_tile {
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 0.5rem;
}

.flash_messages {
  text-align: center;
  font-size: 70%;
  font-style: italic;
  opacity: 0.5;
}

.devise_messages {
  text-align: center;
  font-family: sans-serif;
  font-size: 30%;
  font-style: italic;
  opacity: 0.5;
}

.proposal {
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 0.5rem;
}
